@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
html.dark {
  --foreground-rgb: 207, 207, 207;
  --background-start-rgb: 12, 12, 13;
  --background-end-rgb: 12, 12, 13;
}

.u-bg-white {
  background-color: #ffffff;
}

html.dark .u-bg-white {
  background-color: #0c0c0d;
}

html.dark .u-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: #27272a;
  border-color: rgb(39 39 42/var(--tw-border-opacity));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.index_banner_bg {
  background-image: url(../public/img/banner-bg.jpg);
  background-size: 150rem;
}

li.active a {
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: #f4f4f5;
}

html.dark li.active a {
  background-color: #18181b;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: #f4f4f5;
  background-color: rgb(244 244 245/var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: #d4d4d8;
  background-color: rgb(212 212 216/var(--tw-bg-opacity));
  border-radius: 0.6em;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0aa;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 70);
  background-color: rgb(63 63 70/var(--tw-bg-opacity));
}

html.dark ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(39, 39, 42);
  background-color: rgb(39 39 42/var(--tw-bg-opacity));
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #59595f;
}

/* ::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 10px;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44,rgb(60,186,146)),color-stop(0.72,rgb(253,187,45)),color-stop(0.86,rgb(253,187,45)));
  transition: 0.3s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
} */

.test input,
.test button {
  border: 1px solid #0c0c0d;
}

.test button {
  padding: 0 4px;
}